* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.main-left, .main-right {
  width: 50%;
}

.img {
  height: 50px;
  width: 60px;
}